.header {
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  background-color: #212040a8;
  h1 {
    font-size: 3.3rem;
    text-shadow: 2px 3px 0px $color-1;
       letter-spacing: 2px;
  }
  nav {
    
    
    font-size: 1.3rem;

    ul {
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: $white;
        border-radius: 10px;
        width: 102px;
        text-align: center;
        margin-right: 5px;

        &:visited {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          background: $black;
        }
      }
      a.nav-active {
        background: $color-1;

        &:hover {
          background: $black;
        }
      }
    }
  }
}
